body {
    margin: 0px;
    background-color: whitesmoke;
}

img {
    margin-left: 1030px;
    width: 500px;
    margin-top: -280px;
    height: 480px;
}

#main-header {
    /* margin: 10px; */
    display: flex;
    background-color: rgb(164, 155, 155);
    /* border: 2px solid black;  */
    justify-content: flex-start;
    gap: 600px;
    width: 1536px;
    height: 60px;
    align-items: center;
}

.header1 {
    display: flex;
    margin-left: 90px;
    color: black;
    /* background-color:dimgray; */
}

.about1 {
    display: flex;
    color: black;
    align-items: center;
    justify-self: end;
    text-decoration: none;
    gap: 70px;
    justify-content: space-evenly;
    font-weight: bolder;

}

.hi1 {
    display: flex;
    margin-top: 120px;
    margin-left: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(160, 108, 108);
}

.name1 {
    display: flex;
    color: rgb(11, 11, 11);
    margin-left: 200px;
    font-size: xx-large;
    font-weight: bolder;
    gap: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.name2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(160, 108, 108);

}

.name3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(11, 11, 11);
    margin-left: 200px;
    font-size: x-large;
}

.mern1 {
    color: rgb(160, 108, 108);
}

.instagram {
    margin-bottom: 90px;
    margin-left: 200px;
    width: 90px;
    height: 90px;


}

.instagram1 {
    margin-bottom: 107px;
    margin-left: 60px;
    width: 55px;
    height: 55px;
}



/* About contact page  */
#contact1 {
    display: flex;
    /* margin-top: 10px; */
    justify-content: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#form1 {
    display: flex;
    border: 4px solid black;
    margin-top: 50px;
    background-color: grey;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    align-items: center;
    width: 900px;
    height: 500px;
    margin-left: 300px;
    margin-top: -70px;
    font-family: 'Times New Roman', Times, serif;
}

.radio1 {
    width: 600px;
    color: bisque;
    font-weight: lighter;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

#submit1 {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

/* About */
.Education1 {
    display: flex;
    margin-left: 200px;
    color: rgb(160, 108, 108);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
}

.Education2 {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 200px;
}

.Hobby1 {
    display: flex;
    margin-left: 200px;
    color: rgb(160, 108, 108);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
}

.Hobby2 {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 200px;
}

.Skills1 {
    display: flex;
    margin-left: 200px;
    color: rgb(160, 108, 108);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
}

.Skills2 {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 200px;
}

/* ENDING */
.end1 {
    display: flex;
    justify-content: center;

    color: whitesmoke;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: x-large;
    background-color: rgb(164, 155, 155);
    height: 111px;
    align-items: center;
}

.end2 {
    display: flex;
    justify-content: center;

    color: whitesmoke;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: x-large;
    background-color: rgb(164, 155, 155);
    height: 105px;
    align-items: center;
}

.end3 {
    display: flex;
    justify-content: center;

    color: whitesmoke;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: x-large;
    background-color: rgb(164, 155, 155);
    height: 120px;
    align-items: center;
}